In [3]:
import pandas as pd
import numpy as np

In [5]:
%run ../dstools/ml/group_importance.py

In [4]:
df = pd.read_csv('../datasets/titanic.csv')
target = df.survived
df = df.drop(['survived', 'alive'], axis=1)
df = df.replace(r'\s+', np.nan, regex=True)
df = pd.get_dummies(df)
df = df.fillna(df.mean())

In [6]:
from sklearn.ensemble import RandomForestClassifier

cl = RandomForestClassifier(n_estimators=300, max_depth=4, max_features=.5, random_state=2)
cl.fit(df, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features=0.5, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=300, n_jobs=1, oob_score=False, random_state=2,
            verbose=0, warm_start=False)

In [7]:
clusters = feature_clusters(df)
weights = pd.Series(cl.feature_importances_, index=df.columns)

weighted_feature_clusters(clusters, weights)

                                   weight  mean_weight
cluster index
10      adult_male               0.212415     0.118838
        sex_female               0.090387     0.118838
        sex_male                 0.102830     0.118838
        who_man                  0.173763     0.118838
        who_woman                0.014795     0.118838
4       fare                     0.087572     0.087572
3       pclass                   0.095315     0.063392
        class_First              0.021415     0.063392
        class_Third              0.073445     0.063392
8       age                      0.045172     0.045172
11      sibsp                    0.029520     0.029520
15      deck_E                   0.008778     0.008778
13      parch                    0.006745     0.006745
5       class_Second             0.006311     0.006311
2       embarked_C               0.002426     0.004211
        embarked_S               0.006024     0.004211
        embark_town_Cherbourg    0.003080     0.004211
        embark_town_Southampton  0.005314     0.004211
14      deck_D                   0.003622     0.003622
9       who_child                0.002531     0.002531
6       deck_C                   0.001764     0.001764
12      alone                    0.001595     0.001595
1       embarked_Q               0.001046     0.001469
        embark_town_Queenstown   0.001891     0.001469
16      deck_A                   0.001228     0.001228
7       deck_B                   0.000785     0.000785
17      deck_F                   0.000132     0.000132
18      deck_G                   0.000098     0.000098

In [8]:
top_features_in_cluster(clusters, weights)

index
adult_male                0.212415
pclass                    0.095315
fare                      0.087572
age                       0.045172
sibsp                     0.029520
deck_E                    0.008778
parch                     0.006745
class_Second              0.006311
embarked_S                0.006024
deck_D                    0.003622
who_child                 0.002531
embark_town_Queenstown    0.001891
deck_C                    0.001764
alone                     0.001595
deck_A                    0.001228
deck_B                    0.000785
deck_F                    0.000132
deck_G                    0.000098
Name: weight, dtype: float64

In [9]:
clusters = pd.Series([0 , 1], index=['f1', 'f2'])
weights = pd.Series([2, 5, 4], index=['f1', 'f2', 'f3'])

weighted_feature_clusters(clusters, weights)

               weight  mean_weight
cluster index
1       f2          5            5
nc0     f3          4            4
0       f1          2            2